body{
    background: radial-gradient(circle, forestgreen, black);
}

.title{
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.page{
    display: flex;
    border: none;
    border-radius: 15px;
    padding: 50px;
    color: white;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    width: 500px;
    height: 400px;
}

.game-info{
    display: flex;
    flex-direction: column;
    margin-right: 275px;
}

.dealer-cards{
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

.player-cards{
    display: flex;
    flex-direction: row;
}

.player-btns{
    display: flex;
    flex-direction: column;
    margin-left: auto;

}

.game-btns{
    margin-bottom: 25px;
    background-color:crimson;
    padding: 15px;
    border: none;
    border-radius: 15px;
    color: white;
    transition: 200ms;
}
.game-btns:hover{
    scale: 1.2;
    cursor: pointer;
}

.display-dealer-cards{
    display: flex;
    flex-direction: row;
}
