body{
    background: radial-gradient(circle, forestgreen, black);
}

.page-all{
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 25px;
    color: white;
    margin: 50px auto;
    width: 700px;
}

.game-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}

.dealer-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
}

.player-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    margin-top: 170px;
}

.player-control-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 350px;
}

.game-btns{
    background-color:#ddc300;
    padding: 15px;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    transition: 150ms;
}
.game-btns:hover{
    scale: 1.3;
    cursor: pointer;
}
.game-btns:active{
    scale: 1.5;
}
.game-btns:disabled{
    background-color: #808080;
}

.game-cards {
    height: 70px;
    width: 50px;
}

#display-dealer-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
    margin-left: 10px;
}

#display-player-cards{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border: none;
    padding: 10px;
    border-radius: 7px;
}

#display-player-split-cards{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border: none;
    padding: 10px;
    border-radius: 7px;
    margin-left: 40px;
}