body {
    background: radial-gradient(circle, rgb(80, 80, 80), black);
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#game-controlls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    gap: 15px;
    font-size: 1.5rem;
    color: white;
}

.bet-and-bombs {
    display: flex;
    gap: 10px;
    width: 75%;
}

#buttons-container {
    display: flex;
    gap: 10px;
    width: 100%;
}

input {
    border: none;
    border-radius: 5px;
    box-shadow:0 0 5px black inset;
    padding: 5px 15px;
    width: 100%;
}

button {
    border: none;
    border-radius: 5px;
    width: 36%;
    padding: 5px;
    transition: 150ms;
}

#table-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: limegreen;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 15%);
    border: 1px solid hsl(0, 0%, 31%);
    border-radius: 10px;
    width: 85px;
    height: 85px;
    margin: 3px;
    font-size: 3rem;
    transition: 150ms;
    cursor: pointer;
}

.cell:hover {
    background-color: hsl(0, 0%, 31%);
}

.flipped-bomb {
    pointer-events: none;
    background: red;
    animation: flipCell 0.25s ease-in;
}

.flipped-bomb:hover {
    pointer-events: none;
    background: red;
}

.flipped-safe {
    pointer-events: none;
    border: 3px solid;
    border-color: limegreen;
    background: hsl(0, 0%, 11%);
    animation: flipCell 0.25s ease-in;
}

@keyframes flipCell {
    5%,
    95% {
        transform: rotate(-1deg);
    }

    50% {
        scale: 1.1;
    }
}