body {
    background: linear-gradient(#2f0e98, black);
}

.bettingBtns{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    font-weight: 600;
    transition: 150ms ease-in-out;
}
.bettingBtns:hover{
    scale: 1.3;
    background-color: #ffe23b;
}
.bettingBtns:active{
    scale: 1.4  ;
    background-color: yellow;
}

#max-bet-btn {
    width: 100px;
    border-radius: 15px;
    height: 50px;
}

.outputCells{
    text-align: center;
}

#gameDisplay {
    display: flex;
    justify-content: space-evenly;
}

#tableOutput {
    border: none;
    width: 745px;
    height: 530px;
    border-radius: 15px;
    background: radial-gradient(circle, #a428c4, black);
    font-size: 100px;
    padding: 25px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#spinBtn {
    border: none;
    border-radius: 15px;
    background-color: #f3c018;
    transition: 150ms ease-in-out;
    color: white;
    font-weight: 700;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-left: 40px;
}
#spinBtn:hover{
    scale: 1.2;
    background-color: #ffe23b;
}
#spinBtn:active{
    scale: 1.3;
    background-color: yellow;
}
#spinBtn:disabled {
    background-color: grey;
}

#betDisplay {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: white;
    width: 37px;
}

#previousWin {
    display: flex;
    color: white;
}

#modify-bet-div {
    display: flex;
}

#previous-win-div {
    display: flex;
    width: 250px;
    justify-content: center;
    padding: 5px;
    color: white;
    background-color: #00af32;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 15px;
}

#game-controls {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1000px;
    justify-content: center;
}

#game {
    margin-top: 20px;
}