body {
    background-image: url("eugenia-vorontsova-promo-bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bettingBtns{
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    font-weight: 700;
    transition: 150ms ease-in-out;
    height: auto;
    scale: 1.4;
}
.bettingBtns:hover{
    scale: 2;
    background-color: #ffe23b;
}
.bettingBtns:active{
    scale: 2.2;
    background-color: yellow;
}

.outputCells{
    text-align: center;
    border: 5px solid;
    border-color: black;
}

#gameDisplay {
    display: flex;
    justify-content: space-evenly;
}

#tableOutput {
    border: none;
    width: 765px;
    height: 530px;
    border-radius: 15px;
    background-color: #b400b4;
    font-size: 100px;
    padding: 25px;
    margin-bottom: 50px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#bettingInput {
    display: flex;
    justify-content: center;
}

#spinBtn {
    border: none;
    border-radius: 15px;
    background-color: #f3c018;
    transition: 150ms ease-in-out;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
#spinBtn:hover{
    scale: 1.3;
    background-color: #ffe23b;
}
#spinBtn:active{
    scale:1.5;
    background-color: yellow;
}

#lowerDiv {
    border: none;
    padding: 50px;
    margin-top: 20px;
}

#betAndInputs {
    display: flex;
    justify-content: space-between;
}

#betDisplay {
    margin-right: 100px;
    color: white;
    margin-left: 10px;
}

#previousWin {
    display: flex;
    color: white;
}

#betLabel {
    color: white;
}

#game {
    border: none;
    border-radius: 25px;
    width: fit-content;
    background-color: #808080;
}